version: "3.9"

services:
  studio-backend:
    build: ./ombudsman-validation-studio/backend
    ports:
      - "8000:8000"
    volumes:
      - ./ombudsman_core:/core
      - ./ombudsman-validation-studio/backend:/app
    environment:
      PYTHONPATH: "/app:/core/src"
    networks:
      - ovs-net

  studio-frontend:
    build: ./ombudsman-validation-studio/frontend
    ports:
      - "3000:3000"
    networks:
      - ovs-net

networks:
  ovs-net:
    driver: bridge